<!-- <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

<div id="main-auth-div" class="flex items-center justify-center min-h-screen bg-gray-100">

    {{ if .IsLogin }}
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
            <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>
            <form hx-post="/login"            
                hx-ext="json-enc"
                hx-target="#main-auth-div"
                hx-swap="outerHTML"
            >
                <div class="mb-4">
                    <input type="email" 
                        id="email" 
                        name="email" 
                        placeholder="Enter your email" 
                        required
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <div class="mb-6">                
                    <input type="password" 
                        id="password" 
                        name="password" 
                        placeholder="Enter your password" 
                        required
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                >
                    Login
                </button>
                <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                        hx-get="/register"
                        hx-push-url="/register"
                >
                    don't have accout ? register
                </button>
            </form>
        </div>

    {{ else }}
        <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
            <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>
            <form hx-post="/login"            
                hx-ext="json-enc"
                hx-target="#main-auth-div"
                hx-swap="outerHTML"
            >
                <div class="mb-4">
                    <input type="email" 
                        id="email" 
                        name="email" 
                        placeholder="Enter your email" 
                        required
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <div class="mb-6">                
                    <input type="password" 
                        id="password" 
                        name="password" 
                        placeholder="Enter your password" 
                        required
                        class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                </div>
                <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                >
                    register
                </button>
                <button type="submit"
                        class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                        hx-get="/login"
                        hx-push-url="/login"
                >
                    already have an account ? login
                </button>
            </form>
        </div>
    {{ end }}

</div> 


 -->



 <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

 <div id="main-auth-div" class="flex items-center justify-center bg-gray-200 py-10">
 
     {{ if .IsLogin }}
         <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md mx-4 sm:mx-0">
             <h2 class="text-3xl font-bold text-center mb-8">Login</h2>
             <form hx-post="/login"            
                 hx-ext="json-enc"
                 hx-target="#main-auth-div"
                 hx-swap="outerHTML"
             >
                 <div class="mb-5">
                     <input type="email" 
                         id="email" 
                         name="email" 
                         placeholder="Enter your email" 
                         required
                         class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600">
                 </div>
                 <div class="mb-6">                
                     <input type="password" 
                         id="password" 
                         name="password" 
                         placeholder="Enter your password" 
                         required
                         class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600">
                 </div>
                 <button type="submit"
                         class="w-full py-3 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50"
                 >
                     Login
                 </button>
                 <button type="button"
                         class="w-full py-3 px-4 mt-3 bg-gray-300 text-gray-700 font-semibold rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                         hx-get="/register"
                         hx-push-url="/register"
                 >
                     Don't have an account? Register
                 </button>
             </form>
         </div>
 
     {{ else }}
         <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md mx-4 sm:mx-0">
             <h2 class="text-3xl font-bold text-center mb-8">Register</h2>
             <form hx-post="/register"            
                 hx-ext="json-enc"
                 hx-target="#main-auth-div"
                 hx-swap="outerHTML"
             >
                <div class="mb-5">
                    <input type="username" 
                        id="username" 
                        name="username" 
                        placeholder="Enter your username0" 
                        required
                        class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600">
                </div>
                 <div class="mb-5">
                     <input type="email" 
                         id="email" 
                         name="email" 
                         placeholder="Enter your email" 
                         required
                         class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600">
                 </div>
                 <div class="mb-6">                
                     <input type="password" 
                         id="password" 
                         name="password" 
                         placeholder="Enter your password" 
                         required
                         class="w-full px-4 py-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-blue-600">
                 </div>
                 <button type="submit"
                         class="w-full py-3 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50"
                 >
                     Register
                 </button>
                 <button type="button"
                         class="w-full py-3 px-4 mt-3 bg-gray-300 text-gray-700 font-semibold rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50"
                         hx-get="/login"
                         hx-push-url="/login"
                 >
                     Already have an account? Login
                 </button>
             </form>
         </div>
     {{ end }}
 
 </div>
 